@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
}
.homeBar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: whitesmoke;
}
.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link button {
  margin: 5px;
  padding: 7px;
  background-color: #f7c52a;
  text-transform: uppercase;
  border: none;
  color: rgb(24, 24, 163);
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.connectImage {
  width: 40px;
}
.nav-link {
  display: flex;
  flex-direction: row;
}
.nav-link:hover {
  cursor: pointer;
}
.one {
  margin-left: 5px;
  color: rgb(24, 24, 163);
}
.two {
  color: #f7c52a;
  margin-left: 5px;
}
.slides {
  display: flex;
  display: grid;
  grid-template-areas: 'left slideshow-container';
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: rgb(72, 72, 202);
  padding: 10px;
}

.imgTwo {
  width: 80%;
  height: 180px;
}
.imgOne {
  width: 100%;
  height: 180px;
}
.left {
  grid-area: 'left';
  padding: 10px;
  width: 100%;
}

.slideshow-container {
  grid-area: 'slideshow-container';
  width: 100%;
  position: relative;
  margin: auto;
}

.select {
  padding: 11px;
  border: none;
}
.button {
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
}
.form {
  margin-top: 20px;
}

.Footer {
  padding: 10px;
  background-color: rgb(72, 72, 202);
  color: white;
  display: flex;
  display: grid;
  grid-template-areas: 'LEFT MIDDLE RIGTH';
  grid-template-columns: 1fr 1fr 1fr;
}
.LEFT {
  grid-area: 'LEFT';
  width: 100%;
  text-align: center;
}
.MIDDLE {
  grid-area: 'MIDDLE';
  width: 100%;
  text-align: center;
}
.RIGTH {
  grid-area: 'RIGTH';
  text-align: center;
  width: 100%;
}
.pics {
  width: 45px;
}
.category {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  align-items: center;
}
.job-d {
  background-color: whitesmoke;
  padding: 7px;
  text-align: center;
  margin: 7px;
  width: 30%;
  border: 0.5px solid rgb(187, 183, 183);
}
.round {
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: rgb(24, 24, 163);
}
.portal {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
}
.job-det {
  padding: 10px;
  text-align: center;
}
.JOB_D {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}
.app-button {
  border: none;
  padding: 5px;
  text-transform: uppercase;
  background: #f7c52a;
}
.apply-job {
  padding: 10px;
}
.apply-btn {
  margin-top: 15px;
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
}
.apply-btns {
  margin-top: 15px;
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
  margin-left: 10px;
}
.inputJ {
  padding: 0.5rem 0.1rem;
  width: 80%;
  border-radius: 2px;
  height: 48px;
  border-bottom: 1px solid black;
  transition: all 0.5s;
  margin: 10px;
  border: none;
  background-color: whitesmoke;
}
.style {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.file {
  margin-left: 10px;
}
.inputs {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 90%;
  border-radius: 2px;
  border-bottom: 1px solid black;
  transition: all 0.5s;
  margin: 10px;
  margin-left: 19px;
}
.signin-div {
  display: flex;
  display: grid;
  grid-template-areas: 'lefts rights';
  grid-template-columns: 1fr 1fr;
  height: 90.5vh;
}
.lefts {
  grid-area: 'lefts';
  width: 100%;
  background-color: #f7c52a;
  padding: 10px;
}
.rights {
  grid-area: 'rights';
  width: 100%;
  padding: 10px;
  text-align: center;
  align-items: center;
}
.fles {
  text-align: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 240px;
}
.apply-btnv {
  margin-top: 15px;
  background: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
  margin-left: 10px;
}
.center {
  margin-top: 230px;
  margin-left: 230px;
}
