@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
}
.homeBar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
}
.homeBarEmp {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: #009879;
  align-items: center;
  color: whitesmoke;
}
.homeBarEmp p:hover {
  cursor: pointer;
}

.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.link button {
  margin: 5px;
  padding: 7px;
  background-color: #f7c52a;
  text-transform: uppercase;
  border: none;
  color: white;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.connectImage {
  width: 40px;
}
.nav-link {
  display: flex;
  flex-direction: row;
}
.nav-link:hover {
  cursor: pointer;
}
.one {
  margin-left: 5px;
  color: rgb(24, 24, 163);
}
.two {
  color: #f7c52a;
  margin-left: 5px;
}
.slides {
  display: flex;
  display: grid;
  grid-template-areas: 'left slideshow-container';
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: rgb(72, 72, 202);
  padding: 10px;
}

.imgTwo {
  width: 80%;
  height: 180px;
}
.imgOne {
  width: 100%;
  height: 180px;
}
.left {
  grid-area: 'left';
  padding: 10px;
  width: 100%;
}

.slideshow-container {
  grid-area: 'slideshow-container';
  width: 100%;
  position: relative;
  margin: auto;
}

.select {
  padding: 11px;
  border: none;
}
.chooseCate {
  padding: 10px;
  border: none;
  background-color: whitesmoke;
}
.filterCate {
  padding: 5px;
  margin-left: 20px;
}
.button {
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
}
.postB {
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
  color: white;
  margin-left: 20px;
}
.post-button {
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
}
.p-but {
  margin-left: 19px;
  margin-top: 20px;
}
.form {
  margin-top: 20px;
}

.Footer {
  padding: 10px;
  background-color: rgb(72, 72, 202);
  color: white;
  display: flex;
  display: grid;
  grid-template-areas: 'LEFT MIDDLE RIGTH';
  grid-template-columns: 1fr 1fr 1fr;
}
.LEFT {
  grid-area: 'LEFT';
  width: 100%;
  text-align: center;
}
.MIDDLE {
  grid-area: 'MIDDLE';
  width: 100%;
  text-align: center;
}
.RIGTH {
  grid-area: 'RIGTH';
  text-align: center;
  width: 100%;
}
.pics {
  width: 45px;
}
.category {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  align-items: center;
}
.job-d {
  background-color: whitesmoke;
  padding: 7px;
  text-align: center;
  margin: 7px;
  width: 30%;
  border: 0.5px solid rgb(187, 183, 183);
}
.round {
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(24, 24, 163);
}
.portal {
  display: flex;
  flex-wrap: wrap;
}
.job-portal-all {
  height: 400px;
  padding: 10px;
  overflow-y: auto;
}
.job-dets {
  display: none;
}
.job-det {
  padding: 10px;
  text-align: center;
  background-color: whitesmoke;
  margin: 8px;
  border: 1px solid rgb(160, 159, 159);
  border-radius: 10px;
}
.allJ {
  height: 400px;
  overflow-y: auto;
}
.JOB_D {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}
.app-button {
  border: none;
  padding: 5px;
  text-transform: uppercase;
  background: #f7c52a;
}
.apply-job {
  padding: 10px;
}
.apply-btn {
  margin-top: 15px;
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
  margin-left: 10px;
}
.apply-btns {
  margin-top: 15px;
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
  margin-left: 10px;
}
.inputJ {
  padding: 0.5rem 0.1rem;
  width: 30%;
  border-radius: 2px;
  height: 48px;
  transition: all 0.5s;
  margin: 10px;
  border: 1px solid rgb(160, 158, 158);
  background-color: whitesmoke;
}
.style {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.file {
  margin-left: 10px;
}
.input {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 90%;
  border-radius: 2px;
  border-bottom: 1px solid black;
  transition: all 0.5s;
  margin: 10px;
  margin-left: 19px;
}
.signin-div {
  display: flex;
  display: grid;
  grid-template-areas: 'lefts rights';
  grid-template-columns: 1fr 1fr;
  height: 90.5vh;
}
.lefts {
  grid-area: 'lefts';
  width: 100%;
  background-color: #f7c52a;
  padding: 10px;
}
.rights {
  grid-area: 'rights';
  width: 100%;
  padding: 10px;
  text-align: center;
  align-items: center;
}
.fles {
  text-align: center;
  align-items: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  margin-left: 240px;
}
.apply-btnv {
  margin-top: 15px;
  background: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
  margin-left: 10px;
}
.center {
  margin-top: 230px;
  margin-left: 230px;
}
.no-jobs {
  text-align: center;
  padding: 10px;
}
.inputs {
  border: 1px solid black;
  padding: 0.5rem 0.1rem;
  width: 40%;
  border-radius: 2px;
  border-bottom: 1px solid black;
  transition: all 0.5s;
  margin: 10px;
  margin-left: 19px;
}
.emp-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emp-links p {
  margin: 8px;
}
.emp-links p:hover {
  cursor: pointer;
}

.dropzone {
  text-align: center;
  padding: 30px;
  border: 3px dashed #142501;
  background-color: #fafafa;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 19px;
}
.selected-file {
  color: #000;
  font-weight: bold;
}
.empPost {
  padding: 20px;
}
.descri {
  margin-left: 59px;
  padding: 20px;
}
.sent {
  padding: 10px;
  text-align: center;
}
.datePiker {
  margin-left: 19px;
}
.linka {
  color: blue;
}
.empJobs {
  padding: 10px;
  height: 91vh;
  overflow-y: auto;
  text-align: center;
}
.hisJobs {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  background-color: whitesmoke;
  padding: 9px;
  color: rgb(72, 72, 202);
  border: 1px solid rgb(72, 72, 202);
  text-align: center;
  align-items: center;
  width: 60%;
  margin-left: 250px;
}
.viewPeople {
  display: grid;
  display: flex;
  grid-template-areas: 'leftSide centerSide rightSide';
}
.leftSide {
  grid-area: 'leftSide';
  width: 100%;
  text-align: center;
  padding: 10px;
}
.centerSide {
  grid-area: 'centerSide';
  width: 100%;
  height: 550px;
  overflow-y: auto;
  text-align: center;
  padding: 10px;
}
.rightSide {
  grid-area: 'rightSide';
  width: 100%;
  text-align: center;
  padding: 10px;
}
.userCv {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  border: 1px solid #f7c52a;
  background-color: whitesmoke;
  margin: 7px;
}
.align {
  display: flex;
  flex-direction: row;
}
.dashboard {
  background-color: white;
  height: 100vh;
}
.allApp {
  background-color: white;
  height: 100vh;
}
.newApp {
  background-color: white;
  height: 100vh;
}
.selecteAp {
  background-color: white;
  height: 100vh;
}
.notViewed {
  background-color: white;
  height: 100vh;
}
.inputsv {
  border: 1px solid black;
  padding: 0.5rem 0.1rem;
  width: 90%;
  border-radius: 2px;
  border-bottom: 1px solid black;
  transition: all 0.5s;
  margin: 10px;
  margin-left: 19px;
}
.buttonk {
  margin-top: 10px;
  background: #f7c52a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: fit-content;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-left: 19px;
}
.search_P {
  margin-top: 100px;
  margin-left: 300px;
  width: 50%;
  padding: 10px;
}
.search_P p {
  margin-left: 20px;
  color: black;
}
.dashbar {
  padding: 10px;
  display: flex;
  color: white;
}
.dashbar1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 5px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 20%;
  border-left: 5px solid darkgray;
}
.dashbar2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 5px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 20%;
  border-left: 5px solid darkblue;
}
.dashbar3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 5px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 20%;
  border-left: 5px solid darkgreen;
}
.dashbar4 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 5px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 20%;
  border-left: 5px solid rgb(247, 88, 88);
}
.dashbar5 {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 5px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 20%;
  border-left: 5px solid #009879;
}
#customers {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#customers thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
#customers th,
#customers td {
  padding: 12px 15px;
}

#customers tbody tr {
  border-bottom: 1px solid #dddddd;
}

#customers tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

#customers tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.table {
  padding: 15px;
  height: 350px;
  overflow-y: auto;
}
.postNew {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.click {
  color: rgb(72, 72, 202);
}
.click:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
.appV {
  padding: 15px;
}
.head {
  padding: 15px;
}
.oneDash {
  padding: 10px;
  display: flex;
}
.oneDash1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 40%;
  color: black;
  background-color: white;
  border-left: 5px solid darkblue;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 5px;
}
.oneDash2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 40%;
  color: black;
  background-color: white;
  border-left: 5px solid red;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 5px;
}
.oneDash3 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 40%;
  color: black;
  background-color: white;
  border-left: 5px solid darkgreen;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  border-radius: 5px;
}
.arrange {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.five {
  margin-left: 70px;
}
.four {
  margin-left: 30px;
}
.three {
  margin-left: 30px;
}
.twoK {
  margin-left: 50px;
}
.oneT {
  margin-left: 40px;
}
.fourK {
  margin-left: 120px;
}
.profi {
  height: 100vh;
}
.numberOfJobs {
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .dashboard {
    height: 100%;
  }
  .dashbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .dashbar1 {
    width: 40%;
  }
  .dashbar2 {
    width: 40%;
  }
  .dashbar3 {
    width: 40%;
  }
  .dashbar4 {
    width: 40%;
  }
  .dashbar5 {
    width: 40%;
  }
  .allApp {
    height: 100%;
  }
  .selecteAp {
    height: 100%;
  }
  .notViewed {
    height: 100%;
  }
  .newApp {
    height: 100%;
  }
  .oneDash {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .oneDash1 {
    width: 45%;
  }
  .oneDash2 {
    width: 45%;
  }
  .oneDash3 {
    width: 45%;
  }
  .profi {
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .homeBar {
    display: flex;
    flex-wrap: wrap;
  }
  .slides {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .Footer {
    display: flex;
    flex-wrap: wrap;
  }
  .MIDDLE {
    margin-top: 20px;
  }
  .RIGTH {
    margin-top: 20px;
  }
  .portal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .job-d {
    width: 100%;
  }
  .imgOne {
    width: 100%;
  }
  .JOB_D {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: whitesmoke;
  }
  .color {
    color: rgb(24, 24, 163);
    padding-right: 5px;
  }
  .style {
    display: flex;
    flex-direction: column;
  }
  .signin-div {
    display: flex;
    flex-wrap: wrap;
  }
  .center {
    margin-top: 30px;
    margin-left: 60px;
  }
  .fles {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .inputJ {
    width: 80%;
  }
  .dashbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .dashbar1 {
    width: 100%;
  }
  .dashbar2 {
    width: 100%;
    display: none;
  }
  .dashbar3 {
    width: 100%;
    display: none;
  }
  .dashbar4 {
    width: 100%;
  }
  .dashbar5 {
    width: 100%;
  }
  .dashboard {
    height: 100%;
  }
  .postNew {
    display: flex;
    flex-wrap: wrap;
  }
  .postB {
    margin-left: 0px;
    margin-top: 10px;
    display: none;
  }
  .table {
    width: 100%;
    padding: 5px;
    overflow-y: auto;
    overflow-x: auto;
  }
  .homeBarEmp {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
  }
  .emp-links {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
  }
  .emp-links p {
    margin: 0px;
  }
  .allApp {
    height: 100%;
  }
  .table {
    width: 100%;
  }
  .selecteAp {
    height: 100%;
  }
  .notViewed {
    height: 100%;
  }
  .newApp {
    height: 100%;
  }
  .oneDash {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .oneDash1 {
    width: 100%;
  }
  .oneDash2 {
    width: 100%;
  }
  .oneDash3 {
    width: 100%;
  }
  .viewPeople {
    display: flex;
    flex-wrap: wrap;
  }
  .profi {
    height: 100vh;
  }
  .search_P {
    margin-top: 100px;
    margin-left: 10px;
    width: 80%;
    padding: 10px;
  }
  .lefts {
    display: none;
  }
}
